* {
    font-family: sans-serif;
}

.meme-header {
    margin-top: -1em;
    text-align: center;
    font-size: 2em;
}

.header-paragraph {
    text-align: center;
    margin-top: -2em;
}

#meme-form {
    background-color: #c6cde7;
    height: 16em;
}

.top-text input {
   margin-left: 3.5em;
   width: 45em;
}

.bottom-text input {
    margin-left: 1.7em;
    width: 45em;
}

.top-text, .bottom-text, .image-input {
    margin-left: 2em;
}

.top-meme-text {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    color: white;
    text-shadow: 2px 2px 2px black;
    font-size: 2em;
    width: 50%;
    margin: 45px 5px 10px;
    z-index: 9000;
    line-height: 30px;
}

.bottom-meme-text {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    color: white;
    text-shadow: 2px 2px 2px black;
    font-size: 2em;
    width: 50%;
    margin: -50px 5px 30px;
    z-index: 9000;
    line-height: 30px;

}

.image-input input {
    margin-left: 3.8em;
    width: 45em;
}

.submit-button {
    float: right;
    margin: 0 5em 0 0;
}

.meme {
    width: 50%;
}

.close-button:hover {
    color: rgb(230, 13, 13);
}

.meme-image {
    width: 100%;
    margin-top: 2em;
}


